
@{
    
}

<div class="container">
    <div class="edit_panel_form_row">
        <form action="#" class="edit_panel_form">
            <div class="edit_panel_form_data">
                <p class="edit_panel_form_p">Имя</p>
                <input class="edit_panel_form_input" type="text">
            </div>
            <div class="edit_panel_form_data">
                <p class="edit_panel_form_p">Фамилия</p>
                <input class="edit_panel_form_input" type="text">
            </div>
            <div class="edit_panel_form_data">
                <p class="edit_panel_form_p">Отчество</p>
                <input class="edit_panel_form_input" type="text">
            </div>
            <div class="edit_panel_form_data">
                <p class="edit_panel_form_p">Телефон</p>
                <input class="edit_panel_form_input" type="text">
            </div>
            <div class="edit_panel_form_data">
                <p class="edit_panel_form_p">Адрес</p>
                <input class="edit_panel_form_input" type="text">
            </div>
            <button type="submit" class="edit_panel_form_button">Редактировать</button>


        </form>
    </div>
</div>

