a{
    color: black;
    text-decoration: none;
}

    a:hover {
        color: #FF0000
    }

   

.container{
    max-width: 1280px;
    margin: auto;
}

._header {
    background-color: antiquewhite;
    border-radius: 3px;
    max-width: 1600px;
    margin: auto;
    margin-top: 8px;
    
}
.header_list {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.header_list-item {
    padding: 0px 75px 0px 75px;
    list-style: none;
}

.body_table{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.body_table_text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone_img{
    height: 25px;
    width: 25px;
    padding-right: 15px;
}

.main_table{
      border-collapse: collapse;
      max-width:70%;
      width:70%;
      text-align:center;
          
}
.main_table_data {
    border: 1px solid gray;
    transition: .5s linear;
    padding: 8px;
}

.main_table_tr:hover td{
    background-color:lightgrey;
}

.main_table_th {
    border: 2px solid gray;
    padding:5px;
}

.main_table_th:hover {

    color: lightgrey;
}

.error_text{
    text-align:center;
}


.second-page-descriprion{
    font-size:18px;
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
}

.second-page-descriprion-label{

}

.second-table-row {
   display:flex;
   justify-content:center;
   align-items:center;
   margin-top:10px;
}

.second-table {
    
    background: white;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
    border: 1px solid grey;
}

.second-table-th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}

.second-table-th:hover {
    color: #6699ff;
}

.second-table-td {
    color: #669;
    padding: 19px 8px;
    transition: .3s linear;
}

.second-table-tr:hover td {
    background: #e8edff;
}