a{
    color: black;
    text-decoration: none;
}

    a:hover {
        color: #FF0000
    }

   

.container{
    max-width: 1280px;
    margin: auto;
}

._header {
    background-color: antiquewhite;
    border-radius: 3px;
    max-width: 1600px;
    margin: auto;
    margin-top: 8px;
    
}
.header_list {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.header_list-item {
    padding: 0px 75px 0px 75px;
    list-style: none;
}

.body_table{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.body_table_text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone_img{
    height: 25px;
    width: 25px;
    padding-right: 15px;
}

.main_table{
      border-collapse: collapse;
      max-width:70%;
      width:70%;
      text-align:center;
          
}
.main_table_data {
    border: 1px solid gray;
    transition: .5s linear;
    padding: 8px;
}

.main_table_tr:hover td{
    background-color:lightgrey;
}

.main_table_th {
    border: 2px solid gray;
    padding:5px;
}

.main_table_th:hover {

    color: lightgrey;
}

.error_text{
    text-align:center;
}


.second-page-descriprion{
    font-size:18px;
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
}

.second-page-descriprion-label{

}

.second-table-row {
   display:flex;
   justify-content:center;
   align-items:center;
   margin-top:10px;
}

.second-table {
    
    background: white;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
    border: 1px solid grey;
}

.second-table-th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}

.second-table-th:hover {
    color: #6699ff;
}

.second-table-td {
    color: #669;
    padding: 19px 8px;
    transition: .3s linear;
}

.second-table-tr:hover td {
    background: #e8edff;
}

.registrational_panel {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


.registrational_panel_form_field {
    border-radius: 5px;
    padding: 25px;
    max-width: 30%;
    border: 1px solid gray;
}

.registrational_panel_inside {
    display: flex;
}

.registrational_panel_inside_input {
    padding-left: 20px;
    padding-top: 2px;
}

.registrational_panel_inside_input_text {
    padding-top: 4px;
}

.registrational_panel_inside_input_form {
    border-radius: 5px;
    border: 1px solid gray;
    transition: .3s linear
}

    .registrational_panel_inside_input_form:hover {
        background-color: lightgray;
    }

.registrational_panel_button {
    padding: 5px;
    margin-top: 14px;
    background-color: gray;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-weight: 600;
}

.asp-validation-add-client {
    margin-top: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    
}

.ul_error{
    list-style:none;
}

.input-validation-error {
    background-color: orangered;
}

.edit_panel_form_row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.edit_panel_form_p {
    margin: 1px;
}

.edit_panel_form {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 15px;
}


.edit_panel_form_input {
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px gray;
    transition: .15s linear;
}

.edit_panel_form_data {
    margin-top: 8px;
}

.edit_panel_form_input:hover {
    background-color: lightgray;
}

.edit_panel_form_button {
    background-color: lightgray;
    border-radius: 3px;
    transition: .15s linear;
    padding: 5px;
    margin-top: 15px;
    border: 1px solid black;
}

    .edit_panel_form_button:hover {
        background-color: gray;
    }

.success_view_row {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.success_view {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
}

.base_button_from_action {
    display: block;
    background-color: gray;
    text-align: center;
    padding: 7px;
    border-radius: 5px;
    transition: .15s;
}

    .base_button_from_action:hover {
        color: #fff;
        background-color: lightgray;
    }


  .success_view_row{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.success_view {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
}
.base_button_from_action {
    display: block;
    background-color: gray;
    text-align: center;
    padding:7px;
    border-radius: 5px;
    transition: .15s;
}

.base_button_from_action:hover{
    color: #fff;
    background-color: lightgray;
}

.home_row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px;
}


.home_p {
    text-align: center;
}

.home_links {
    background-color: antiquewhite;
    border-radius: 5px;
    border: 1px solid black;
}