a{
    color: black;
    text-decoration: none;
}

    a:hover {
        color: #FF0000
    }

   

.container{
    max-width: 1280px;
    margin: auto;
}

._header {
    background-color: antiquewhite;
    border-radius: 3px;
    max-width: 1600px;
    margin: auto;
    margin-top: 8px;
    
}
.header_list {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.header_list-item {
    padding: 0px 75px 0px 75px;
    list-style: none;
}

.body_table{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.body_table_text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone_img{
    height: 25px;
    width: 25px;
    padding-right: 15px;
}

.main_table{
      border-collapse: collapse  
}
.main_table_data{
    border: 1px solid gray;
    
    padding: 8px;
}

.main_table_th{
    border: 2px solid gray;
   
}

.error_text{
    text-align:center;
}