<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The_19_Module</title>
    <link rel="stylesheet" href="~/css/normalize.css"/>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>

    <header class="_header">
        <ul class="header_list">
            <li class="header_list-item">
                <a asp-controller="Home" asp-action="Index">Главная</a>
            </li>
            <li class="header_list-item">
                <a asp-controller="Person" asp-action="AddNewPerson">Добавить нового клиента</a>
            </li>
            <li class="header_list-item">
                <a asp-controller="ShowAllPersons" asp-action="Index">Список всех клиентов</a>
            </li>
            <li class="header_list-item">
                <a href="">О нас</a>
            </li>
            <li class="header_list-item">
                <a href="">Вход</a>
            </li>
        </ul>
    </header>

    

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

</body>
</html>

<div class="container">
    
</div>