
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <p class="error_text">
        Пользователь не был найден в базе данных, пожалуйста обратитесь к администратору
    </p>

    <p class="error_text">
        <a asp-controller="Home" asp-action="Index">На главную</a>
    </p>
</div>

