
@{
    ViewData["Title"] = "AddANewUser";
}

<div class="container">
    <div class="registrational_panel">
        <form action="#" class="registrational_panel_form">
            <fieldset class="registrational_panel_form_field">
                <legend>Анкета нового человека</legend>
                <div class="registrational_panel_inside">

                    <div class="registrational_panel_inside_text">
                        <p class="registrational_panel_inside_input_text"><label>Имя</label> </p>
                        <p class="registrational_panel_inside_input_text"><label>Фамилия</label> </p>
                        <p class="registrational_panel_inside_input_text"><label>Отчество</label> </p>
                        <p class="registrational_panel_inside_input_text"><label>Телефон</label> </p>
                    </div>

                    <div class="registrational_panel_inside_input">
                        <p><input class="registrational_panel_inside_input_form" type="text"></p>
                        <p><input class="registrational_panel_inside_input_form" type="text"></p>
                        <p><input class="registrational_panel_inside_input_form" type="text"></p>
                        <p><input class="registrational_panel_inside_input_form" type="text"></p>


                    </div>

                </div>

                <button class="registrational_panel_button">Отправить</button>

            </fieldset>



        </form>
    </div>
</div>

